#button{
    background-color: rgb(134, 134, 226);
    color: brown;
    padding: 5px;
    font-size: large;
    border: 2px solid blue;
}
#showHideSec{
    margin-left: 40%;
    margin-top: 10%;
    background-color: firebrick;
    border: 5px solid blueviolet;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    text-align: center;
    font-size: 3rem;
    color: goldenrod;
    font-weight: 900;
}